<div class="container w-75">
  <div class="d-flex my-5 shadow-lg rounded border rounded">
    <%=image_tag article.user.avatar , class:'search-card-cover rounded-start'%>
    <div class="card-right px-5">
      <div class="d-flex justify-content-center pt-3 border-bottom">
        <p class="fs-4 fw-bold">
          <% if article.user.username %>
            by <em><%= link_to article.user.username, article.user, class:"text-decoration-none" %></em>
          <% end %>
        </p>
      </div>
      <% if article.categories.any? %>
        <div class="d-flex justify-content-center border-bottom">
          <p>
            <%= render partial: 'articles/category', locals: { categories: article.categories} %>
          </p>
        </div>
      <%end%>
      <div class="d-flex justify-content-center border-bottom py-2">
        <p class="fs-4 fw-bold">
          <h5 class="card-title text-success"><%= article.title %></h5>
        </p>
      </div>
      <div class="d-flex justify-content-center border-bottom py-2">
        <p class="fs-6">
          <%= article.description %>
        </p>
      </div>
      <div class="d-flex justify-content-center border-bottom pt-1">
        <div class="d-flex justify-content-center border-end px-2  border-2">Created <%=time_ago_in_words article.created_at %> ago</div>
        <div class="d-flex justify-content-center px-2"> updated <%=time_ago_in_words article.updated_at %> ago</div>
      </div>
    </div>
  </div>
</div>
